@import "tailwindcss";
@import "@xyflow/react/dist/style.css";

@media (max-width: 640px) {
  :root {
    --minimap-display: none;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e272c;
  color: white;
}
